:root {
  --scratch_color: #855cd6;
}

* {
  padding: 0;
  margin: 0;
}

header {
  position: fixed;
  width: 100%;
  height: 10%;
  background-color: var(--scratch_color);
  
}

@keyframes rainbow {
  0% {
    color: #ff0000;
  }

  17% {
    color: #ffff00;
  }

  33% {
    color: #00ff00;
  }

  50% {
    color: #00ffff;
  }

  67% {
    color: #0000ff;
  }

  83% {
    color: #ff00ff;
  }

  100% {
    color: #ff0000;
  }
}

#The_Infinitys {
  border: 2px solid black;
}

.rainbow-text {
  animation-name: rainbow;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}